<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "列表", stores_path  %></li>
      <li><%= link_to "添加", new_store_path %></li>
      <li class="active"><%= link_to "查看", store_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>店铺名:</b>
          <%= @store.name %>
        </p>

        <p>
          <b>备注:</b>
          <%= @store.other %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "编辑") + " " + "编辑", edit_store_path(@store), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "删除") + " " + "删除", store_path(@store), :method => "delete", :class => "button", :confirm => "确认删除吗?" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>