<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "列表", users_path  %></li>
      <li><%= link_to "添加", new_user_path %></li>
      <li class="active"><%= link_to "查看", user_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>名称:</b>
          <%= @user.username %>
        </p>

        <p>
          <b>密码:</b>
          <%= @user.password %>
        </p>

        <p>
          <b>角色:</b>
          <%= get_role @user.role %>
        </p>

        <p>
          <b>门店:</b>
          <%= @user.store.name unless @user.store_id.nil? %>
        </p>

        <p>
          <b>备注:</b>
          <%= @user.other %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "编辑") + " " + "编辑", edit_user_path(@user), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "删除") + " " + "删除", user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>
