<% content_for :head do %>
    <style type="text/css">
        .table th {
            text-align: center;
        }

        .table td {
            border-left: 1px solid #EAEAEA;
            text-align: center;
        }
    </style>
<% end %>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "汇总", :action => :list_summary %></li>
      <li><%= link_to "列表", :action => :list_admin %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= @current_date %>  汇总</h2>
    <%= form_tag({:action => :list_summary}, :method => "get") do %>
        <div style="margin-left: 15px;margin-bottom:10px;">
          日期: <%= select_date(@current_date, :use_month_numbers => true) %> <%= submit_tag "查询" %>
        </div>
    <% end %>
    <div class="inner">
      <table class="table">
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>镶 嵌</th>
          <th>K 金</th>
          <th>Pt</th>
          <th>黄 金</th>
          <th>金镶玉</th>
          <th>彩 宝</th>
          <th>其 它</th>
          <th>合 计</th>
          <th>黄金旧料</th>
          <th>Pt旧料</th>
          <th>旧料合计</th>
          <th>总 计</th>
          <th>内销合计</th>
        </tr>

        <% for store in @stores %>
            <tr class="<%= cyc = cycle("odd", "even") %>">
              <td rowspan="3"><%= store.name %></td>
              <td>当日合计</td><% sum_days = @sum_days.find{|item| item.store_id == store.id} %>
              <td><%= sum_days.try(:inlay).try(:round, 2) %></td>
              <td><%= sum_days.try(:kgold).try(:round, 2)%></td>
              <td><%= sum_days.try(:pt).try(:round, 2)%></td>
              <td><%= sum_days.try(:gold).try(:round, 2)%></td>
              <td><%= sum_days.try(:gold_jade).try(:round, 2)%></td>
              <td><%= sum_days.try(:color_stone).try(:round, 2)%></td>
              <td><%= sum_days.try(:other).try(:round, 2)%></td>
              <td><%= (sum_days.try(:inlay).to_f + sum_days.try(:kgold).to_f + sum_days.try(:pt).to_f +  sum_days.try(:gold).to_f + sum_days.try(:other).to_f).round(2) %></td>
              <td><%= sum_days.try(:old_gold).try(:round, 2)%></td>
              <td><%= sum_days.try(:old_pt).try(:round, 2)%></td>
              <td><%= (sum_days.try(:old_pt).to_f + sum_days.try(:old_gold).to_f).round(2) %></td>
              <td><%= sum_days.try(:day).try(:round, 2)%></td>
              <td><%= @sum_days2.find{|item| item.store_id == store.id}.try(:day).try(:round, 2)%></td>
            </tr>
            <tr class="<%= cyc %>">
              <td>当月累计</td><% sum_months = @sum_months.find{|item| item.store_id == store.id} %>
              <td><%= sum_months.try(:inlay).try(:round, 2) %></td>
              <td><%= sum_months.try(:kgold).try(:round, 2)%></td>
              <td><%= sum_months.try(:pt).try(:round, 2)%></td>
              <td><%= sum_months.try(:gold).try(:round, 2)%></td>
              <td><%= sum_months.try(:gold_jade).try(:round, 2)%></td>
              <td><%= sum_months.try(:color_stone).try(:round, 2)%></td>
              <td><%= sum_months.try(:other).try(:round, 2)%></td>
              <td><%= (sum_months.try(:inlay).to_f + sum_months.try(:kgold).to_f + sum_months.try(:pt).to_f +  sum_months.try(:gold).to_f + sum_months.try(:other).to_f).round(2) %></td>
              <td><%= sum_months.try(:old_gold).try(:round, 2)%></td>
              <td><%= sum_months.try(:old_pt).try(:round, 2)%></td>
              <td><%= (sum_months.try(:old_pt).to_f + sum_months.try(:old_gold).to_f).round(2) %></td>
              <td><%= sum_months.try(:day).try(:round, 2)%></td>
              <td><%= @sum_months2.find{|item| item.store_id == store.id}.try(:day).try(:round, 2)%></td>
            </tr>
            <tr class="<%= cyc %>">
              <td>当年累计</td><% sum_years = @sum_years.find{|item| item.store_id == store.id} %>
              <td><%= sum_years.try(:inlay).try(:round, 2) %></td>
              <td><%= sum_years.try(:kgold).try(:round, 2)%></td>
              <td><%= sum_years.try(:pt).try(:round, 2)%></td>
              <td><%= sum_years.try(:gold).try(:round, 2)%></td>
              <td><%= sum_years.try(:gold_jade).try(:round, 2)%></td>
              <td><%= sum_years.try(:color_stone).try(:round, 2)%></td>
              <td><%= sum_years.try(:other).try(:round, 2)%></td>
              <td><%= (sum_years.try(:inlay).to_f + sum_years.try(:kgold).to_f + sum_years.try(:pt).to_f +  sum_years.try(:gold).to_f + sum_years.try(:other).to_f).round(2) %></td>
              <td><%= sum_years.try(:old_gold).try(:round, 2)%></td>
              <td><%= sum_years.try(:old_pt).try(:round, 2)%></td>
              <td><%= (sum_years.try(:old_pt).to_f + sum_years.try(:old_gold).to_f).round(2) %></td>
              <td><%= sum_years.try(:day).try(:round, 2)%></td>
              <td><%= @sum_years2.find{|item| item.store_id == store.id}.try(:day).try(:round, 2)%></td>
            </tr>
        <% end %>


      </table>
      <div class="actions-bar wat-cf" style="text-align:right;">

      </div>
    </div>
  </div>
</div>
