<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <% if @current_date.month==Date.current.month %>
      <li class="first active"><%= link_to "查看当月", :action => :list_month  %></li>
      <li><%= link_to "查看上月", :action => :list_month,:month=>"prev" %></li>
      <% else %>
       <li class="first"><%= link_to "查看当月", :action => :list_month  %></li>
      <li class="active"><%= link_to "查看上月", :action => :list_month,:month=>"prev" %></li>
      <% end %>
      <li><%= link_to "添加", new_sale_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= "#{@current_date.year}年#{@current_date.month}月 #{@current_user.store.name} 营业额数据" %></h2>
    <div class="inner">
      <table class="table">
       <tr>
         <th class="first">ID</th>
         <th>日 期</th>
         <th>钻石</th>
         <th>珍珠</th>
         <th>K 金</th>
         <th>铂金</th>
         <th>硬金</th>
         <th>黄金</th>
         <th>金镶玉</th>
         <th>彩宝</th>
         <th>其它</th>
         <th>黄金旧料</th>
         <th>铂金旧料</th>
         <th>类型</th>
         <th class="last">当天总额</th>
       </tr>
       <% @sales.each do |sale| -%>
       <tr class="<%= cycle("odd", "even") %>">
         <td><%= sale.id %></td>
         <td><%= sale.sale_time %></td>
         <td><%= sale.inlay %></td>
         <td><%= sale.pearl %></td>
         <td><%= sale.kgold %></td>
         <td><%= sale.pt %></td>
         <td><%= sale.hard_gold %></td>
         <td><%= sale.gold %></td>
         <td><%= sale.gold_jade %></td>
         <td><%= sale.color_stone %></td>
         <td><%= sale.other %></td>
         <td><%= sale.old_gold %></td>
         <td><%= sale.old_pt %></td>
         <td><%= get_type sale.sale_type %></td>
         <td class="last">
           <%= sale.day %>
         </td>
       </tr>
       <% end -%>
      </table>
      <div class="actions-bar wat-cf" style="text-align:right;">
        <%= render :partial => "footer_sum" %>
      </div>
    </div>
  </div>
</div>
