<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "汇总", :action => :list_summary %></li>
      <li class="active"><%= link_to "列表", :action => :list_admin %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= "#{@current_date.year}年#{@current_date.month}月 #{Store.find(@store_id).name}  营业额数据" %></h2>
    <%= form_tag({:action => :list_admin}, :method => "get") do %>
        <div style="margin-left: 15px;margin-bottom:10px;">门店: <%= select_tag(:store_id, options_for_select(select_store_all_admin, @store_id)) %>
          日期: <%= select_year(@current_date) %>年
          <%= select_month(@current_date, :use_month_numbers => true) %>月 <%= submit_tag "查询" %>
          <% if session[:current_user].role? :admin %> <%= submit_tag "导出" %>
          <% end %>
        </div>
    <% end %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>日期</th>
          <th>钻石</th>
          <th>珍珠</th>
          <th>K金</th>
          <th>铂金</th>
          <th>硬金</th>
          <th>黄金</th>
          <th>金镶玉</th>
          <th>彩宝</th>
          <th>其它</th>
          <th>合计</th>
          <th>黄金旧料</th>
          <th>铂金旧料</th>
          <th>旧料合计</th>
          <th>类 型</th>
          <th>当天总额</th>
          <th></th>
        </tr>
        <% @sales.each do |sale| -%>
            <tr class="<%= cycle("odd", "even") %>">
              <td><%= sale.id %></td>
              <td><%= sale.sale_time %></td>
              <td><%= sale.inlay %></td>
              <td><%= sale.pearl %></td>
              <td><%= sale.kgold %></td>
              <td><%= sale.pt %></td>
              <td><%= sale.hard_gold %></td>
              <td><%= sale.gold %></td>
              <td><%= sale.gold_jade %></td>
              <td><%= sale.color_stone %></td>
              <td><%= sale.other %></td>
              <td><%= sale.new_material_sum %></td>
              <td><%= sale.old_gold %></td>
              <td><%= sale.old_pt %></td>
              <td><%= sale.old_material_sum %></td>
              <td><%= get_type sale.sale_type %></td>
              <td>
                <%= sale.day %>
              </td>
              <td class="last">
                <%= link_to '查看', sale %> |
                <%= link_to '编辑', edit_sale_path(sale) %> |
                <%= link_to '删除', sale, :confirm => '确认删除吗?', :method => :delete %>
              </td>
            </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf" style="text-align:right;">
        <%= render :partial => "footer_sum" %>
      </div>
    </div>
  </div>
</div>
